body {
    margin: 0;
    /* overflow: hidden;  */

    /* background-image: url('wood-flooring-repetitive-seamless-background-picjumbo-com.png');  */
    /* background-image: url('modern-gradient-background-picjumbo-com.jpg');  */
    /* background-image: url('blue-water-background-picjumbo-com.jpg');  */
    /* background-image: url('gray-knitted-abstract-pattern-background-picjumbo-com.jpg');  */
    /* background-image: url('tropical-leaves-free-background-picjumbo-com.jpg');  */
    /* background-image: url('stars-and-stripes-free-background-picjumbo-com.jpeg');  */
    /* background-image: url('sunset-ocean-picjumbo-com.jpg');  */
    background-image: url('white-eco-fur-pattern-background-picjumbo-com.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: keeps the background fixed during scroll */
    margin: 0; /* Remove default body margin */
    height: 100vh; /* Ensure body takes full viewport height */
}    

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.image {

    /* Border is around the entire space reserved for the pic */
    /* which is currently 96% of the available screen.  */
    /* border: 10px solid blue; */
    /* border: 1px solid gray; */

    position: absolute;
    top: 1.8%;
    left: 1.8%;
    width: 96%;
    height: 96%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

img {
    /* border: 5px solid red; */
}

.visible {
    opacity: 1;
}
